.sub_category-name {
  text-align: center;
  font-size: 19px;
  color: white;
  opacity: 0.2;
  padding: 3px 10px;
  // border-bottom: 5px solid $yellow;
  transition: all 0.3s ease;
}
.sub_category-name.active {
  opacity: 0.6;
  font-weight: bold;
}
.sub_category-name:hover {
  opacity: 0.4;
  text-decoration: none;
  color: white;
}
.subcat-economie {
  // color: $economie;
  // border-bottom: 5px solid $economie;
  background-color: $economie;
}
.subcat-societe {
  // color: $societe;
  // border-bottom: 5px solid $societe;
  background-color: $societe;
}
.subcat-viepratique {
  // color: $viepratique;
  // border-bottom: 5px solid $viepratique;
  background-color: $viepratique;
}
.subcat-sport {
  // color: $sport;
  // border-bottom: 5px solid $sport;
  background-color: $sport;
}
.subcat-culture {
  // color: $culture;
  // border-bottom: 5px solid $culture;
  background-color: $culture;
}
