/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Oswald:200|Dosis:200");
$base-font:'Dosis', sans-serif;
$header-font: 'Oswald', sans-serif;

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$yellow: rgba(246, 198, 103, 1);
$light-blue: rgba(241, 248, 253, 1);
$blue: rgba(0, 124, 185, 1);
$dark-blue: rgba(0, 86, 137, 1);

$red: #EE5F5B;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
