/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Oswald:200|Dosis:200");
$base-font:'Dosis', sans-serif;
$header-font: 'Oswald', sans-serif;

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$yellow: rgba(246, 198, 103, 1);
$light-blue: rgba(241, 248, 253, 1);
$blue: rgba(0, 124, 185, 1);
$dark-blue: rgba(0, 86, 137, 1);

$red: #EE5F5B;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;

// BLUE
$economie: rgba( 18, 78, 120, 1);
$societe: rgba( 30, 145, 214, 1);
$viepratique: rgba(85, 214, 190, 1);
$sport: rgba(78, 173, 147, 1);
$culture: rgba(204, 95, 106, 1);

// BLUE
// $economie: rgba( 30, 145, 214, 1);
// $societe: rgba( 18, 78, 120, 1);
// $viepratique: rgba(0, 129, 175, 1);
// $sport: rgba(0, 129, 175, 1) ;
// $culture: rgba(0, 121, 145, 1);

// $economie: rgba(109, 104, 117, 1);
// $societe: rgba( 160, 120, 150, 1);
// $viepratique: rgba(181, 131, 141, 1);
// $sport: rgba(110, 136, 152, 1) ;
// $culture: rgba(229, 152, 155, 1);
