/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.auto-center {
  margin: 0 auto;
}
.description {
  background-color: #B3B3B3;
  text-shadow: 1px #FF8000;
}
