
<button type="button" class="btn btn-yellow" >
  <%= link_to "Export to Google Calendar", "https://calendar.google.com/calendar/render?cid=#{sync_calendar_url(format: 'ics', token: current_user.calendar_token)}", class: "export_link" %>
</button>

