<div class="banner" style="background-image: linear-gradient(-225deg, rgba(241, 248, 253, 0.1) 0%,rgba(241, 248, 253, 0.3) 10%, rgba(241, 248, 253, 0.9) 30%,rgba(241, 248, 253, 0.95) 40%, rgba(241, 248, 253, 1) 70%, rgba(241, 248, 253, 1) 90%), url('<%= image_path "background.jpeg" %>')">
  <div class="banner-content">
    <p>Prenez de la <span>hauteur</span>,<br> Prenez un temps d'avance sur l'<span>actualité</span>.</p>
    <h1>ComingUp <i class="fa fa-angle-double-right" aria-hidden="true"></i></h1>
    <%= link_to "CE QU'IL FAUT SAVOIR DE LA SEMAINE A VENIR", events_path, class: "btn-yellow large"  %>
  </div>
</div>
