/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-blue {
  background: $light-blue;
}
.bg-dark-blue {
  background: $dark-blue;
}

// Font
body {
  color: $dark-blue;
}
h4 {
 color: $blue;
}
h5 {
 color: $yellow;
}

.dark-blue {
  color: $dark-blue;
}
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
