.category-name {
  text-align: center;
  font-size: 25px;
  opacity: 0.3;
  padding: 25px 0px 10px 0px;
  margin-bottom: 0px;
  transition: background 0.3s ease;
  line-height: 0px;
  font-size: bold;
  letter-spacing: 7px;
}
.category-name.active {
  opacity: 1;
}
.category-name:hover {
  opacity: 0.5;
  text-decoration: none;
}

.cat-economie {
  color: $economie;
  border-bottom: 4px solid $economie;
  // background-color: $economie;
}
.cat-societe {
  color: $societe;
  border-bottom: 4px solid $societe;
  // background-color: $societe;
}
.cat-viepratique {
  color: $viepratique;
  border-bottom: 4px solid $viepratique;
  // background-color: $viepratique;
}
.cat-sport {
  color: $sport;
  border-bottom: 4px solid $sport;
  // background-color: $sport;
}
.cat-culture {
  color: $culture;
  border-bottom: 4px solid $culture;
  // background-color: $culture;
}
