.category-dropdown {
  opacity: 0.5;
  margin-top: 0px;
  padding: 0px;;
  text-align: center;
  transition: all 10s ease;
}
.category-dropdown.active {
  opacity: 1;
}
.category-dropdown:hover {
  opacity: 0.5;
  text-decoration: none;
  color: white;
  transform: scale(1.03);
}
.dropdown-border {
  margin-bottom: 10px;
  display: none;
}
.fa.fa-angle-double-down {
  font-size: 25px;

}
.fa.fa-angle-double-up {
  font-size: 25px;
}
.fa.fa-angle-double-up:before {
  font-size: 30px;
  transform: scale(1.03);
}

.drop-economie {
  color: $economie;
  // border-bottom: 5px solid $economie;
  // background-color: $economie;
}
.drop-societe {
  color: $societe;
  // border-bottom: 5px solid $societe;
  // background-color: $societe;
}
.drop-viepratique {
  color: $viepratique;
  // border-bottom: 5px solid $viepratique;
  // background-color: $viepratique;
}
.drop-sport {
  color: $sport;
  // border-bottom: 5px solid $sport;
  // background-color: $sport;
}
.drop-culture {
  color: $culture;
  // border-bottom: 5px solid $culture;
  // background-color: $culture;
}
