.wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
}
.column {
    border-top: 1px solid $yellow;
    background-color: $light-blue;
    width: calc(100%/7 - 4px);
    height: calc(100vh - 70px); // navbar
    overflow:scroll;
    display:inline-block;
    vertical-align:top;
    white-space:initial;
    padding: 5px;
    margin: 0px;
}
.column h4 {
  margin-bottom: 10px;
  text-align: center;
}
.column h5 {
  margin: 0px;
  color: white;
}
#event-div {
  background-color: white;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  min-height: 100px;
  position: relative;
}
#event-div p {
  padding: 5px;
  margin-left: 25px;
}
.flexbox {
  display: flex;
  justify-content: center;
}
.flex-title {
  max-width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
}
.flex-title h5 {
  transform: rotate(-90deg);
  white-space: nowrap;
}

.bar-economie {
  color: white;
  background-color: $economie;
}
.bar-societe {
  color: white;
  background-color: $societe;
}
.bar-viepratique {
  color: white;
  background-color: $viepratique;
}
.bar-sport {
  color: white;
  background-color: $sport;
}
.bar-culture {
  color: white;
  background-color: $culture;
}

.fb-share-button {
  opacity: 0.1;
  text-align: right;
  padding-right: 2px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.fb-share-button:hover {
  opacity: 1;
}
