.wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
}
.column {
    border-top: 1px solid $yellow;
    background-color: white;
    width: calc(100%/7 - 4px);
    height: calc(100vh - 70px); // navbar
    display:inline-block;
    vertical-align:top;
    white-space:initial;
    text-align: center;
    padding: 5px;
    margin: 0px;
}
.column h4 {
  margin-bottom: 30px;
}
.column h5 {
  margin-bottom: 0px;
}
