<div class="container">
  <div class="row">
    <% categories.each do |category| %>
    <div id="<%= category.name %>", class="col-xs-2 col-half-offset">
      <div class="category-named">
        <%= category.name %>
      </div>
    </div>
    <% end %>
  </div>
</div>






